%h1 Disconnect?
%p
  Are you sure you want to disconnect? If you disconnect you will no longer recieve emails. We will also remove our authorization to see your foursquare data.
%ul
  %li
    %a{:href => '/disconnect_confirmed'} I'm sure
  %li
    %a{:href => '/'} No, I'm still nostalgic