%h1 Welcome to Foursquare Nostalgia
.about
  %ul
    -if session['token']
      - if @checkins.empty?
        %h2 A year ago you did not checkin anywhere. Make today more memorable!
      - else
        %h2 A year ago you went to:
        %ol
        - @checkins.each do |checkin|
          %li= checkin['venue']['name']
    -else
      %li Want email reminders of what you were doing a year ago? Get reminders by <a href='/login'>logging in</a> and authorizing this app
